
#notice-board{
    width:95%;
    height:50px;
    background-color: mediumaquamarine;
    margin:0 auto;
    margin-bottom: 2px;
}
#notice-board>span{
    float:left;
    height:100%;
}
#notice-board>span:first-child{
    width:5%;
    background-color: mediumseagreen;
}
#notice-board>span:nth-child(2){
    width:50%;
    background-color: mediumturquoise;    
}
#notice-board>span:nth-child(3){
    width:15%;
    background-color: mediumvioletred;    
}
#notice-board>span:nth-child(4){
    width:15%;
    background-color: mediumpurple;    
}
#notice-board>span:nth-child(5){
    width:5%;
    background-color: mistyrose;    
}
#notice-board>span:nth-child(6){
    width:10%;
    background-color: maroon;    
}
#notice-board>span>a{
    color:#333;
}