@charset "utf-8";

*{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#documentary-board-total-list-wrap{
    width:100%;
    height:1100px;
    background-color: aqua;
}

#documentary-board-total-list-inner{
    width:1600px;
    height:1100px;
    background-color: aquamarine;
    margin:0 auto;
}

#search-tab{
    width:100%;
    height:100px;
    background-color: blueviolet;
    padding:30px 40px;
    box-sizing: border-box;
}
#search-tab>input{
    width:300px;
    height:40px;
    border-radius: 10px;
    padding-left:20px;
    box-sizing: border-box;
    margin-right:10px;
    cursor: pointer;
}
#search-tab>button{
    width:100px;
    height:40px;
    border-radius: 10px;
    cursor: pointer;
}

.documentary-box{
    width:22%;
    height:300px;
    background-color: antiquewhite;
    display:inline-block;
    margin:10px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}

.documentary-box:hover{
    opacity: 0.7;
}

#documentary-image{
    width:100%;
    height:250px;
    background-color: darkblue;
    display:block;
    position: absolute;
    left:0px;
    top:0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#documentary-title{
    width:100%;
    height:50px;
    background-color: darkcyan;
    display:block;
    position: absolute;
    left:0px;
    top:250px;
    font-size:24px;
    font-weight: bold;
    padding-top: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.documentary-box-wrap{
    width:95%;
    /* height:100%; */
    background-color: cadetblue;
    margin:0 auto;
    padding:10px 30px;
    box-sizing: border-box;
}

#pagination-wrap{
    width:100%;
    height:100px;
    background-color: coral;
    text-align: center  ;
}

#pagination-wrap-inner{
    /* width:1200px; */
    display:inline-block;
    height:100px;
    background-color: cornflowerblue;
    padding-top:20px;
    box-sizing: border-box;
}
.page{
    display:inline-block;
    width:50px;
    height:50px;
    margin-right:10px;
    background-color: crimson;
    font-size: 20px;
    text-align: center;
    padding-top:10px;
    box-sizing: border-box;
    cursor: pointer;
}

.page:hover{
    background-color: #333;
    color:#fff;
}

.active{
    background-color: #333;
    color:#fff;
}