@charset "utf-8";

*{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#documentary-view-wrap{
    width:100%;
    height:1000px;
    background-color: aqua;
}

#documentary-view-wrap-inner{
    width:1200px;
    height:1000px;
    background-color: aquamarine;
    margin:0 auto;
}

#documentary-view{
    width:1200px;
    height:900px;
    background-color: blueviolet;
}

#documentary-view>#documentary-view-title{
    width:100%;
    height:100px;
    background-color: darkgreen;
}

#documentary-view>#documentary-view-video{
    width:100%;
    height:800px;
    background-color: darkkhaki; 
}

#prev-next-view{
    width:1200px;
    height:100px;
    background-color: chartreuse;
}

#prev-next-view>span:first-child{
    float:left;
    width:50%;
    height:100px;
    background-color: chocolate;
}

#prev-next-view>span:nth-child(2){
    float:left;
    width:50%;
    height:100px;
    background-color: cornflowerblue;
}